<div class="homeContainer d-flex justify-content-between">
  <div class="left d-flex flex-column justify-content-around">
    <div class="text">
      <p>Olá pessoas,</p>
      <h1>EU SOU UM PROGRAMADOR</h1>
      <p>Sejam bem vindos ao meu portifólio</p>
    </div>

    <button routerLink="/sobre" class="btn btn-primary mt-3">
      <span> Saiba mais sobre mim </span>
    </button>

    <div class="images d-flex">
      <a href="https://github.com/GhabryelHenrique" target="blank">
        <img src="../../../assets/svg/github.svg" alt="github" />
      </a>
      <a
        href="https://www.linkedin.com/in/ghabryel-henrique-27298919a/"
        target="blank"
      >
        <img src="../../../assets/svg/linkedin.svg" alt="linkedin" />
      </a>
      <a href="https://www.instagram.com/ghabryel__/" target="blank">
        <img src="../../../assets/svg/instagram.svg" alt="instagram" />
      </a>
    </div>
  </div>

  <img class="imageProgamador" src="../../../assets/svg/programador.svg" alt="Programador" />
</div>
