h1 {
  font-weight: 900 !important;
}

p,
h1,
h2 {
  font-style: normal;
  line-height: normal;
  color: var(--text-primary) !important;
  font-family: Roboto;
  margin: 0 !important;
}

h2{
font-size: 36px;
font-weight: 900;
}
