:root {
  --background: #fbfbfb;
  --soft-grey: #dfdfdf;
  --text-primary: #445964;
  --button-primary: #263138;
  --button-secondary: #f1f1f1;
  --button-tertiary: #e8e8e8;
  --button-tertiary-hover: #c9c9c9;
  --button-tertiary-active: #a8a8a8;
  --button-tertiary-focus: #c9c9c9;
  --button-tertiary-disabled: #c9c9c9;
  --button-tertiary-disabled-hover: #c9c9c9;
  --button-tertiary-disabled-active: #c9c9c9;
}
